/* Styles for the '.footerContainer' class */
.footerContainer{
    width: 100%;
    font-size: 1.3em;
    font-weight: bolder;
    position: relative;
    display: grid;
    justify-content: center;
}

/* Styles for paragraphs within '.footerContainer' class */
.footerContainer p{
    text-align: center;
    position: sticky;
    bottom: 0;
}